<template>
  <div class="container mt-5">
    <div class="card">
      <div class="card-header d-flex justify-content-between">
        <span>Tambah Data Barang</span>
      </div>
      <div class="card-body">
        <form action method="post">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="gambar_barang">Gambar Barang</label>
                <input
                  type="file"
                  class="form-control"
                  name="gambar_barang"
                  id="gambar_barang"
                />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="nama_barang">Nama Barang</label>
                <input
                  type="text"
                  class="form-control"
                  id="nama_barang"
                  name="nama_barang"
                  v-model="nama_barang"
                  placeholder="masukkan nama barang"
                />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="jenis_barang">Jenis Barang</label>
                <input
                  type="text"
                  class="form-control"
                  id="jenis_barang"
                  name="jenis_barang"
                  v-model="jenis_barang"
                  placeholder="masukkan jenis barang"
                />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="harga_barang">Harga Barang</label>
                <input
                  type="text"
                  class="form-control"
                  id="harga_barang"
                  name="harga_barang"
                  v-model="harga_barang"
                  placeholder="masukkan harga barang"
                />
              </div>
            </div>
          </div>
          <div class="row">
            
            <div class="col-md-6">
              <div class="form-group">
                <label for="jumlah_barang">Jumlah Barang</label>
                <input
                  type="text"
                  class="form-control"
                  id="jumlah_barang"
                  name="jumlah_barang"
                  v-model="jumlah_barang"
                  placeholder="masukkan jumlah barang"
                />
              </div>
            </div>
          </div>
          <a href class="btn btn-primary">Simpan</a>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style lang="stylus" scoped></style>